@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <input type="button"
           value="Start"
           onclick="location.href='/Home/Index?cmd=NewOrder'" class="btn btn-primary" />
</div>
